body {
  display: flex;
  justify-content: center;
  padding: 2vw;
  background: #f0e7d8;
  font-family: Arial, sans-serif;
  margin-top: 6vh;
  flex-direction: column;
  align-items: center;
}

#board {
  width: 90vw;
  max-width: 480px;
  height: 90vw;
  max-height: 480px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 3px solid #444;
  background-color: #dad6ce;
  box-sizing: border-box;
}

.cell {
  border: 1px solid #666;
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.selected {
  outline: none;
}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  pointer-events: none;
  display: block;
  transition: transform 1s, opacity 1s;
}

.black {
  background: rgb(77, 77, 77);
}

.white {
  background: #bd7f34;
}

.piece.selected.black {
  background: rgb(0, 0, 0);
}

.piece.selected.white {
  background: #6e4a1e;
}

#counters {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: Georgia, serif;
  margin-bottom: 1vh;
  font-size: 3vw;
  background: #f0e7d8cc;
  padding: 0.5vh 0;
  box-sizing: border-box;
  z-index: 1000;
}

#turn-text {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: Georgia, serif;
  margin-bottom: 1vh;
  font-size: 4vw;
  background: #f0e7d8cc;
  padding: 0.5vh 0;
  box-sizing: border-box;
  z-index: 1000;
}
